.nav-container {
  background-color: #99a799;
  padding-left: 50px;
  padding-right: 50px;
}
.main-heading h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10;
  font-weight: 400;
}
.main-heading {
  color: white;
  display: inline-block;
}
.side-nav-div {
  font-size: 1.2rem;
  position: absolute;
  right: 0px;
  display: inline-block;
  /* background-color: blue; */
  margin: 0;
  margin-right: 100px;
}
.nav-buttons button {
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  color: red;
  border-style: none;
  display: inline-flex;
}
.agent-display-name p {
  margin: 10px;
}
